body{
  height:100%;
  width:99%;
  overflow:hidden;
}
input[type=number]{
  width:100%
}
hr{
  width: 80%;
  border: 2px solid #000000
}

input[type='radio']{
  margin-left: 10px;
  margin-right: 5px;
}

input[name='cal-intake']{
  margin-top: 7px;
}

input[name='cycle-length']{
  width: 75%;
}

#menu{
  overflow-y: scroll;
}

button{
  margin-top: 7%;
  margin-left: 25%;
  margin-bottom: 2%
}

input[name=dose], input[name=time]{
  width:75%
}

canvas{
  width: 400;
  height: 350;
}

.info{
  align-items: center;
  font-size: 14px;
}

.logo{
  height: 30%;
  padding-left: 25%;
  padding-top: 3%;
}
